<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>About Us</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style/main.css" />
	</head>
	<body class="subpage">

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="/">Home</a>
						<a href="education">Education</a>
						<a href="population">Population</a>
						<a href="resources">Resources</a>
					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Main -->
			<section id="main" class="wrapper">
				<div class="inner">
					<header class="align-center">
						<h2><b>About Us</b></h2>
					</header>
					<div class="align-center">
						<p>A user-friendly website which contains essential information about the city of Surrey for and to promote to individuals and families looking to move to BC. Data sets use include population estimates and projections, average housing and rental prices, primary and secondary school locations and catchment areas, parks and community centres, and information about language and ethnic residential areas.</p>
					</div>

				<hr class="major" />

					<h2 id="elements"></h2>


					<div class="row 200%">
						<div class="6u 12u$(medium)">

									<div class="6u$ 12u$(small)">

										<h4>Ordered</h4>
										<ol>
											<li>Dolor pulvinar etiam magna etiam.</li>
											<li>Etiam vel felis at lorem sed viverra.</li>
											<li>Felis enim feugiat dolore viverra.</li>
											<li>Dolor pulvinar etiam magna etiam.</li>
											<li>Etiam vel felis at lorem sed viverra.</li>
											<li>Felis enim feugiat dolore viverra.</li>
										</ol>
									</div>
								</div>
								<h4>Definition</h4>
								<dl>
									<dt>Item 1</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
									<dt>Item 2</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
									<dt>Item 3</dt>
									<dd>
										<p>Lorem ipsum dolor vestibulum ante ipsum primis in faucibus vestibulum. Blandit adipiscing eu felis iaculis volutpat ac adipiscing accumsan eu faucibus. Integer ac pellentesque praesent.</p>
									</dd>
								</dl>

						</div>
						<div class="6u$ 12u$(medium)">

					<hr />

						</div>
					</div>

				</div>
			</section>

		<!-- Footer -->
			<footer id="footer">
				<div class="inner">
					<div class="flex">
						<div class="copyright">
							&copy; Untitled. Design: <a href="https://templated.co">TEMPLATED</a>. Images: <a href="https://unsplash.com">Unsplash</a>.
						</div>
					</div>
				</div>
			</footer>

		<!-- Scripts -->
			<script src="../public/scripts/jquery.min.js"></script>
			<script src="../public/scripts/skel.min.js"></script>
			<script src="../public/scripts/util.js"></script>
			<script src="../public/scripts/main.js"></script>

	</body>
</html>
