<!DOCTYPE HTML>
<!--
	Theory by TEMPLATED
	templated.co @templatedco
	Released for free under the Creative Commons Attribution 3.0 license (templated.co/license)
-->
<html>
	<head>
		<title>City of Surrey Data</title>
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="style/main.css" />
	</head>
	<body>

		<!-- Header -->
			<header id="header">
				<div class="inner">
					<nav id="nav">
						<a href="/">Home</a>
						<a href="general">Overview</a>
						<a href="education">Schools + Education</a>
						<a href="population">Population</a>
            			<a href="resources">Resources</a>

					</nav>
					<a href="#navPanel" class="navPanelToggle"><span class="fa fa-bars"></span></a>
				</div>
			</header>

		<!-- Banner -->
			<section id="banner">
				<h1>Welcome to Surrey</h1>
				<p>The future lives here</p>
			</section>

		<!-- One -->
			<section id="one" class="wrapper">
				<div class="inner">
				
							<h3>An Overview of the City<br /> </h3>
					
							<p>The City of Surrey is the second largest city in British Columbia, with a population of over 500,000. Our population continues to grow as people from around the world move to one of the youngest and most culturally diverse cities in Canada. Linda M. Hepner is the current Mayor of Surrey. She was elected on November 15, 2014 after serving nine years on City Council.<br /></p>
					<div class="flex flex-3">
						<article>
							<header>
								<h3>Population<br /></h3>
							</header>

							<p>Find out about growing areas and information about the population in Surrey.<br/></p>

							<footer>
								<a href="population" class="button special">More</a>
							</footer>
						</article>

						<article>
							<header>
								<h3>Education<br /></h3>
							</header>
							<p>View information about the education system in Surrey. 
							And about different catchment areas for elementary and secondary schools.</p>
							<footer>
								<a href="education" class="button special">More</a>
							</footer>
						</article>

						<article>
							<header>
								<h3>Resources<br /></h3>
							</header>
							<p>Find out about growing areas and information about the population in Surrey.<br/></p>
							<footer>
								<a href="resources" class="button special">More</a>
							</footer>
						</article>
					</div>
				</div>
			</section>

		<!-- Scripts -->
			<script src="../public/scripts/jquery.min.js"></script>
			<script src="../public/scripts/skel.min.js"></script>
			<script src="../public/scripts/util.js"></script>
			<script src="../public/scripts/main.js"></script>

	</body>
</html>